html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
.body{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.nax{
    list-style: none;
}
@media screen and (max-width: 480px){
    #header-first{
        justify-content: center;
    }
    
    #navbarNavDropdown{
        justify-content: flex-start !important;
        padding: 1rem;
    }
    #decile-image-home{
        display: none;
    }
    #workshop-rsvp{
        padding: 1rem;
        text-align: left !important;
    }
    #card-image  img {
        height: 100%;
        width: 100%;
        object-fit: contain;
       }
  
}

  @media screen and (min-width: 481px) and (max-width: 767px) {
    #header-first{
        justify-content: center;
    }
    
    #navbarNavDropdown{
        justify-content: flex-start !important;
        padding: 1rem;
    }
    #decile-image-home{
        display: none;
    }
    #workshop-rsvp{
        padding: 1rem;
        text-align: left !important;
    }
    #card-image{
        max-width: 100% !important;
        max-height: 100% !important;
        height: auto !important;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
       }
}


  @media screen and (min-width: 768px) and (max-width: 1024px){
    #header-first{
        justify-content: center;
    }
    
    #navbarNavDropdown{
        justify-content: flex-start !important;
        padding: 1rem;
    }
    #decile-image-home{
        display: none;
    }
    #workshop-rsvp{
        padding: 1rem;
        text-align: left !important;
    }
    #card-image{
        max-width: 100% !important;
        max-height: 100% !important;
        height: auto !important;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
       }
}



  @media screen and (min-width: 1025px) and (max-width: 1280px){
    #header-first{
        justify-content: center;
    }
    
    #navbarNavDropdown{
        justify-content: flex-start !important;
        padding: 1rem;
    }
    #decile-image-home{
        display: none;
    }
    #workshop-rsvp{
        padding: 1rem;
        text-align: left !important;
    }
    #card-image{
        max-width: 100% !important;
        max-height: 100% !important;
        height: auto !important;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
       }
}

  